* {
   padding: 0%;
   margin: 0%;
   font-family: 'Roboto', sans-serif;
   box-sizing: border-box; 
}

/*establesco en body*/
body {
   background-color: #ebebeb;
}
header{
   font-family: 'Roboto', sans-serif;
   background-color: #EAC926;
   padding-bottom: 10px;
}
nav{
   display: none;
}

article{
   background-color: white;
}
footer {
   text-align: center;
   background-color: white;
}
/*saco el punto a una lista*/
ul {
   list-style: none;
}

p{
   font-size: 12px;
}
main{
   width: 90%;
   margin: auto;
}

.logo_mercado_liebre {
   width: 50%;
   padding: 10px 20px;
}

.buscador {
   margin: 1%;
}
.buscador i{
   font-size: 15px;
   border: #03264C solid 1px;
   background-color: #ebebeb;
   border-radius: 3px;
}

.tipo_de_pago{
   margin: 10px 0px;
   text-align: center;
}


.hamburguer {
   display: block;
   margin: auto;
   border: #03264C;
   color: white;
   text-align: center;
   background-color: #03264C;
   padding: 5px;
   border-radius: 5px;
   width: 30px;
   height: 22px;
}

.banner{
   width: 100%;
}

.imagenes_productos{
   width: 100%;
}

.fa-truck{
   color:#39b54a;
}

.descripcionGeneralArticulo{
   border-top : 1px solid #ebebeb;
   margin: 15px;
}

.titulares {
   color: #666;
   font-size: 24px;
   text-align: center;
}
.precios {
   font-size: 18px;
}

.descuentos {
   font-size: 16px;
}

.descripciones {
   font-size: 16px;
}


.icon {
   color: blue;
   border-radius: 5px;
   font-size: 30px;
   padding: 15%;
}
.icon p{
   color: black;
   font-weight: normal;
}
.icon h5{
   color: black;
   font-weight: bold;
}

@media (min-width: 361){

}

@media (min-width: 769){

}
