*{
   padding: 0%;
   margin: 0%;
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
}

/*establezco en body*/
body {
   background-color: #ebebeb;
}
/* -----------todo respecto al header ---------------*/
header{
   background-color: #EAC926;
   padding-bottom: 10px;
   box-sizing: border-box;
}

.container-sup{
   display: flex;
   flex-wrap: wrap ;
   justify-content: space-around;
   align-items: center;
   padding: 10px 0px 10px 0px;
}

.logo_mercado_liebre {
   display: block;
   width: 44%;
   max-width: 330px;
   padding: 2%;
}

.searcher {
   display: flex;
   width: 44%;
   max-width: 210px;
   color:#666;
   justify-content:center;
   align-items: center;
   text-align: center;
   font-size: 14px;
   background-color: #fff;
   border-radius: 5px;
   padding: 2%;
   border: 0px;
}

.searcher i{
   border-radius: 3px;
   padding-left: 2%;
}
.searcher input{
   border: 0ch;
   border-radius: 5px;
}

.tipo_de_pago{
   display: block;
   font-size: 14px;
   padding: 2%;
   text-align: center;
}









.container-menu{
   padding: 0% 4%;
}

.pruductos_navbar,
.user_navbar{
   display:none;
   list-style: none;
}

/*saco el punto a una lista*/
nav ul li a{
   text-decoration: none;
   color: black;
   padding: 0px 8px;
}

.hamburguer {
   margin: 20px auto;
   color: white;
   font-size: 24px;
   text-align: center;
   background-color: #03264C;
   width: 50px;
   padding: 10px;
   border-radius: 5px;
}
/*------------  Banner entre en header y el main  ---------*/
.banner{
   width: 100%;
   margin: auto;
}
/*---------- Comienza el main  ----------*/
/* de home.html*/
main{
   width: 90%;
   margin: auto;
}
section{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;

}

article{
   background-color: white;
   margin-bottom: 10px;
   display: flex;
}

.card{
   display: block;
}

.imagenes-productos{
   width: 100%;
}

.descripcion-general-articulo{
   display: block;
   border-top : 1px solid #ebebeb;
   padding: 15px;
   position: relative;
}

.fa-truck{
   display: block;
   color: #39b54a;
   font-size: 16px;
   padding: 5px;
   width: 30px;
   height: 30px;
   border: 1px solid #39b54a;
   background-color: #fff;
   border-radius: 50%;
   position: absolute;
   right: 20px;
   top: -15px;

}

.fa-truck:hover{
   transition: 0.3s;
   rotate: -90deg;
}

.cuerpo-texto{
   font-size: 12px;
}

.titulares{
   font-size: 24px;
   color: #666;
   margin: 1em 0px;
}

.precios-descuentos{
   margin-bottom: 10%;
   display: flex;
   flex-wrap: wrap;
   align-items: baseline;
}

.precios-descuentos > p{
   display: flex;
}

.precios {
   font-size: 18px;
   flex-grow: 0.3;
}

.descuentos {
   font-size: 16px;
   color: #39b54a;
   font-weight: bolder;
   flex-grow: 0.7;
}

.descripciones {
   font-size: 16px;
   display: none;
}

/* ---------- de login.html -----------*/
.campo-lgn{
   text-align: center;
}

.nombre-lgn,
.submit-lgn{
   border: 0ch;
   font-size: 16px;
   padding: 12px;
   margin: 30px auto;
   width: 70%;
   max-width: 600px;
   border-radius: 5px;
}

.nombre-lgn{
   background-color: white;
}

.submit-lgn{
   background-color: #03264C;
   color: #ebebeb;
}

.submit-lgn:hover{
   background-color: #0022aa;
}

/* ---------- de register.html -----------*/
.campo-rgtr{
   text-align: center;
}

.nombre-rgtr,
.submit-rgtr,
.reset-rgtr{
   font-size: 14px;
   width: 70%;
   max-width: 600px;
   padding: 12px;
   border: 0ch;
   margin: 12px auto;
   border-radius: 5px;
}

.nombre-rgtr{
   background-color: white;
}

.submit-rgtr,
.reset-rgtr{
   background-color: #03264C;
   color: #ebebeb;
   max-width: 300px;
}

.titles-rgtr{
   font-size: 16px;
   font-weight: bolder;
   padding: 12px 0px;
   margin:auto;
   margin-top: 15px;
   width: 70%;
   max-width: 600px;
}

.date-rgtr{
   font-size: 14px;
   width: 70%;
   max-width: 600px;
   padding: 12px;
   border: 0ch;
   margin: 12px auto;
   border-radius: 5px;
}


.opciones-rgtr{
   display: block;
   margin: 15px auto;
   width: 70%;
   max-width: 600px;
   padding-left: 10px;
   
}

.items-rgtr{
   padding: 0% 15px 0px 30px;
}

/*---------- Comienza el Footer ---------*/
footer {
   text-align: center;
   background-color: white;
   padding: 1em;
   color: #666;
}

.descripcion-footer{
   display: block;
}

.icon {
   font-size: 24px;
   margin-bottom: 60px;
}

.icon i {
   color: #03264C;
   margin-bottom: 10px;
   
}

.icon i:hover{
   color:#0022aa;
}

.footer_titulo{
   font-size: 16px;
   font-weight: bolder;
   padding-left: 10%;
   padding-right: 10%;

}

.footer_contenido{
   font-size: 12px;
   padding-left: 10%;
   padding-right: 10%;
}


.copyright{
   text-align: left;
}


/*---------- Media Queries ----------*/
/*para tablets*/
@media (min-width: 360px){
   article{
      /*box-shadow: 0px 0px 10px rgb(100,100,100);*/
      width: 44%;
   }
   .descripciones{
      display: block;
      visibility: hidden;
   }

   .card:hover{
      box-shadow: 0px 0px 10px rgb(100,100,100);
   }

   .card:hover .descripciones{
      visibility: visible;
   }


}
/*para desktops*/
@media (min-width: 768px){


   /* header: barra superior*/

   .logo_mercado_liebre {
      width: 35%;
      max-width: 400px;
      padding: 2%;
   }
   
   .searcher {
      width: 30%;
      max-width: 360px;
      padding: 20px;
      height: 30px;
   }
   .searcher input{
      width: 90%;
   }
      
   .tipo_de_pago{
      width: 35%;
      max-width: 400px;
      font-size: 14px;
      padding: 20px;
   }

   .hamburguer{
      display: none;
   }

   /*headeer: barra inferior*/
   .container-menu nav{
      display: flex;
      justify-content: space-between;
   }
   .user_navbar,
   .pruductos_navbar{
      display: flex;

   }

   /*  body    */
   article{
      width: 22%;
   }

   /*  Footer   */
   .descripcion-footer{
      display: flex;
      padding: 40px;
   }
}